<!DOCTYPE html>
<html>
<head>
    <title>msgr</title>
    <script src="jquery-3.6.0.min.js"></script>
      <script>
        var autoScrollEnabled = true;
        document.addEventListener('keydown', function(event) {
  if (event.key === 'Tab') {
    event.preventDefault();
  }
});
        $(document).ready(function() {
            // Function to fetch and update the messages
            function updateMessages() {
                $.ajax({
                    url: "/api/get/raw",
                    type: "GET",
                    dataType: "text",
                    success: function(data) {
                        $("#messages").html(data);
                        // Check if auto-scrolling is enabled
                        if (autoScrollEnabled) {
                            // Scroll to bottom
                            window.scrollTo(0, document.body.scrollHeight);
                        }
                    }
                });
            }

            // Update messages initially
            updateMessages();

            // Set interval to update messages every 1 second
            setInterval(function() {
                updateMessages();
            }, 1000);

            // Add the scroll event listener to the window
            $(window).on("scroll", function() {
                var $this = $(this);
                var scrollHeight = document.documentElement.scrollHeight;
                var clientHeight = $this.height();
                var scrollTop = $this.scrollTop();

                if (scrollHeight - scrollTop === clientHeight) {
                    // User is at the very bottom
                    autoScrollEnabled = true;
                } else {
                    // User is not at the very bottom
                    autoScrollEnabled = false;
                }
            });
        });
    </script>
    <style>body{background-color:#1C2333;overflow-x:wrap}#messages{color:#fff;margin-top:8.17em;color:#F5F9FC;word-break:break-all}#TimeWarning{color:red}.TW{color:red;font-weight:700}.HTDM{color:#A18A1A;font-size:1.17em;font-weight:bolder}.info{background-color:#3C445C;color:#CCD1D9;font-weight:700;border-radius:5px}header{position:fixed;top:0;left:0;width:100%;background-color:#1C2333;z-index:9999;margin-bottom:0;color:#fff;font-size:calc(1vw +)calc(130% - 20px))}a{color:blue}</style>
</head>
<body>
<center>
  <header><b class="HTDM">Hi welcome to the chatroom, please be sure to checkout the <a href="/info">info</a> page</b><br>
    <b>make sure urls have https:// at the start or it wont convert to clickable</b><br>
<b><b style="color:gold;">Gold</b> names with a checkmark are owners <b style="color:red;">Red</b> names are admins<br>
  only <b style="color:gold;">Owners</b> and <b style="color:red;">Admins</b> can delete messages and ban users<br>
  <b>messages from console look like [<i style="color:blue;">console</i>]:</b> message<br>
  <b style="color:limegreen;"">Lime green</b> or <b style="color:#A908B5;">purple</b> names are trusted users.</b></b><br>
<b class="TW">Time is shown as the time of the server</b><br>
</header>
</center>
<div id="messages"></div>
</body>
</html>