<html>
<head>
    <meta content="msgr" property="og:title" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="msgr is a simple chatting website" property="og:description" />
    <meta content="https://msgr.gabrielzv1233.net" property="og:url" />
    <meta content="https://msgr.gabrielzv1233.net/favicon.png" property="og:image" />
    <meta content="#0E1525" data-react-helmet="true" name="theme-color" />
    <meta name="keywords" content="english, texting, text, chatroom, python, chatting, multiplayer">
    <meta name="author" content="Gabrielzv1233">
    <meta charset="UTF-8">
    <!-- link rel="icon" href="https://msgr.gabrielzv1233.net/favicon.png" -->
  <title>Get UUID</title>
</head>
<body>
your UUID is: <input id="UUID" type="text" readonly value="{{UUID}}" size="24"> <button onclick="copy()">Copy</button>
    <script>
        function copy() {
            var textBox = document.getElementById("UUID");
            textBox.select();
            textBox.setSelectionRange(0, 99999); // For mobile devices

            document.execCommand("copy");
        }
    </script>
</body>
</html>