<html>
<head>
<meta content="msgr" property="og:title" />
    <meta content="msgr is a simple chatting website" property="og:description" />
    <meta content="https://msgr.gabrielzv1233.repl.co" property="og:url" />
    <meta content="https://msgr.gabrielzv1233.repl.co/favicon.png" property="og:image" />
    <meta content="#0E1525" data-react-helmet="true" name="theme-color" />
    <meta name="keywords" content="english, texting, text, chatroom, python, chatting, multiplayer">
    <meta name="author" content="Gabrielzv1233">
    <meta charset="UTF-8">
    <!-- link rel="icon" href="https://msgr.gabrielzv1233.repl.co/favicon.png" -->
    <title>msgr</title>
  <style>
    iframe {
      border: hidden;
    }
    #send {
      width:100vw;
      height:calc(95px + 1vh);
      outline: none;
      box-shadow: none;
    }
    #full {
      width:100vw;
      height:calc(100% - calc(95px + 1vh));
      outline: none;
      box-shadow: none;
    }
  </style>
</head>
<body style="margin:0px;;bottom:0px;">
<iframe id="full" src="/full"></iframe>
<iframe id="send" src="/send.html"></iframe>

<script>
    window.addEventListener('beforeunload', function() {
        var iframeWindow = document.getElementById('send').contentWindow;
        iframeWindow.postMessage('saveUsername', '*');
    });
</script>

</body>
</html>