<style>
body {
    margin:0;
}
.messages {
    margin:5px;
}
.send {
    position: fixed;
    bottom: 0;
    width: 100%;
}
input[type="submit"] {
    border-radius:5px;
}
</style>
<div class="messages"></div>
<center>
<div class="send">
    Username: {{username}}
<form method="POST" action="/send">
    <input type="text" placeholder="message" required name="message" style="width:99vw;">
    <input type="submit" value="send" style="width:10%;">
</form>
<form method="POST" action="/logout"><input type="submit" value="Logout">
</form>
<form method="POST" action="/delete_account">
    <input type="checkbox" required>Check this and click button below to delete account<br>
    <input type="submit" value="Delete account">
</form>
</center>
</div>
<script>
// Get the reference to the div element with class "messages"
var messagesDiv = document.querySelector('.messages');

// Function to fetch the HTML file and update the content of the div
function updateMessages() {
  fetch("{{ url_for('static', filename='messages.html') }}")
    .then(function(response) {
      // Check if the request was successful
      if (response.ok) {
        return response.text(); // Convert the response to text
      } else {
        throw new Error('Error: ' + response.status);
      }
    })
    .then(function(html) {
      // Replace the content of the div with the fetched HTML
      messagesDiv.innerHTML = html;
    })
    .catch(function(error) {
      // Handle any errors that occurred during the fetch
      console.log('Fetch error:', error);
    });
}

// Call the updateMessages function initially
updateMessages();

// Call the updateMessages function every 1 second
setInterval(updateMessages, 1000);
</script>