<head>
<meta content="msgr" property="og:title" />
    <meta content="msgr is a simple chatting website" property="og:description" />
    <meta content="https://msgr.gabrielzv1233.repl.co" property="og:url" />
    <meta content="https://msgr.gabrielzv1233.repl.co/favicon" property="og:image" />
    <meta content="#0E1525" data-react-helmet="true" name="theme-color" />
    <meta name="keywords" content="english, texting, text, chatroom, python, chatting, multiplayer">
    <meta name="author" content="Gabrielzv1233">
    <meta charset="UTF-8">
    <title>msgr - info</title>
</head>
<body>
  <h1>How dose it work</h1>
  <p>well to start this is a simple chatting platform, with no authentication, and no way to delete your messages yourself (sorry)</p>
  <p>Spam will be deleted and methods of bypassing chat filters will be patched and messages using these methods may be modifyed to comply with filters</p>
<p>time will show up as the time on the server not your time, Time is shown as the time of the server</p>
<b>to make a url use this format [google*](google.com*) (* = required)</b><br>
  <p>by using this app you understand that anyone can use any username, messages may be edited by anyone who has acsess to the repo (devs, owner)</p>
  <p>Devs, and owners will have gold names, the nametags are not auto updated and need the colors to be added manually so if someone you think may be a dev/owner ask them to prove theyre identity, and they will add a color to their name </p>
<
<p>you can go to <a href="/full">/full</a> to see the chat in fullscreen or you can use the API at <a href="/api/send">/api/send</a> to send somthing in the chat type or use curl on somthing like https://msgr.gabrielzv1233.repl.co/api/send?user=lorpsum%20ipsum&msg=Hello%20world, to get the text use /api/get, this will display the text formatted (it will look like the fullscreen page but without extra stuff) or u can go to <a href="/api/get/raw"> and this will show it in raw text (meaning everything that is stored will be shown the way it is</a></p>
<p>to make ur own chatroom, create a new repl on replit, and import https://github.com/gabrielzv1233/msgr/ from github (press import from github and put gabrielzv1233/msgr in the textbox for where to import from) then name it and make sure the project is python.</p><br>
<h2 style="color:red;">DO NOT SHARE YOUR UUID UNLESS IF THE OWNER ASKS, IF THEY DO ASK ONLY SEND IN PRIVATE DMs</h2><h4> (UUIDs cannot share personal information it just identifys the user and hackers can spoof there UUID allowing them to change their username colors to yours if you have one)</h4>
</body>