<!DOCTYPE html>
<html>
<head>
    <meta content="msgr" property="og:title" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="msgr is a simple chatting website" property="og:description" />
    <meta content="https://msgr.gabrielzv1233.net" property="og:url" />
    <meta content="https://msgr.gabrielzv1233.net/favicon.png" property="og:image" />
    <meta content="#0E1525" data-react-helmet="true" name="theme-color" />
    <meta name="keywords" content="english, texting, text, chatroom, python, chatting, multiplayer">
    <meta name="author" content="Gabrielzv1233">
    <meta charset="UTF-8">
    <!-- link rel="icon" href="https://msgr.gabrielzv1233.net/favicon.png" -->
  <title>Message Sent</title>
  <style>
    b {
      font-weight: bold;
    }
  </style>
  <script>
    setTimeout(function() {
      window.location.href = "/send.html";
    }, 0);
  </script>
    <style>
    body {
      background-color:#1C2333;
    }
    h1 {
      color: #CCD1D9;
    }
    </style>
</head>
<body>
  <center><h1>Message Sent</h1></center>
</body>
</html>